# an example of a .env file 

# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
VITE_PUBLIC_SUPABASE_URL=https://example.supabase.co
VITE_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_example352dgh23r0

# API KEY for YouTube's Data API v3
VITE_YT_DATA_API_KEY=exampleKey3wre9twf24sdhjl