.vocab-info-box {
    background-color: var(--social-bg);
    border: 3px solid black;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
    justify-content: start;
    align-items: start;
    padding: 1rem;
    height: fit-content;
    max-height: min(70vh, 400px);
    overflow-y: scroll;
    width: min(30rem, calc(100vw - 2rem));
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: rgb(99, 99, 99) transparent;
    box-shadow: var(--shadow);
}


.vocab-pronunciation {
    text-align: left;
}

.vocab-word {
    font-weight: bold;
    font-size: 2rem;
    text-align: left;
    margin-top: 5px;
}

.vocab-definition {
    text-align: left;
    list-style:decimal;
}

.vocab-info-box .close-button {
    position: absolute;
    right: 0.75rem;
    top: 1rem;
    z-index: 1;
}

.dict-link {
    position: absolute;
    right: 5rem;
    top: 1.5rem;
    margin: 1rem;
}

.add-to-deck-button {
    width: 100%;
}

@media (max-width: 700px) {
    .vocab-info-box {
        top: 0.75rem;
        right: 0.75rem;
        width: calc(100vw - 1.5rem);
    }

    .dict-link {
        right: 3rem;
    }
}