.music-player-bar {
    display: flex;
    flex-direction: row;
    position: sticky;
    align-items: center;
    padding: 1rem;
    margin-top: 1rem;
    background-color: var(--accent-bg);
}

.music-player-cover-img {
    padding-right: 1rem;
}

.song-cover-img {
    width: 5rem;
    border-radius: 1rem;
}

.music-player-song-details {
    justify-items: left;
    align-items: start;
}

.music-player-main{
    position: relative;
    flex: 1;
    min-width: 0;
    padding: 0rem 1rem;
}

.music-player-progress {
    display: block;
    height: 1rem;
    width: 100%;
    appearance: none;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--bg);
}

/* Chrome, Edge, Safari */
.music-player-progress::-webkit-progress-bar {
    background-color: var(--bg);
    border-radius: 10px;
}

.music-player-progress::-webkit-progress-value {
    background-color: var(--accent);
    border-radius: 10px;
}

.music-player-icon {
    font-size: 30px;
    color: var(--accent);
}

.music-player-play-button {
    font-size: 40px;
    color: var(--accent);
}

.youtube-player {
    display: none;
}

.music-player-controls {
    position: relative;
    display: flex;
    min-height: 3.5rem;
    align-items: center;
    justify-content: center;
}

.timestamp {
    position: absolute;
    right: 0;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
    padding-right: 1rem;
}

.music-player-buttons {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.volume-control {
    align-self: flex-start;
}